[*.cs]

# IDE0003: Remove qualification
# Turn off annoying suggestion: Remove 'this' qualification
dotnet_style_qualification_for_method = false:none
dotnet_style_qualification_for_property = false:none
dotnet_style_qualification_for_event = false:none
dotnet_style_qualification_for_field = false:none
